# Example overrides for the DEV environment
aws_region             = "us-east-1"
environment            = "dev"
vpc_cidr               = "10.0.0.0/16"
public_subnets         = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets        = ["10.0.3.0/24", "10.0.4.0/24"]
availability_zones     = ["us-east-1a", "us-east-1b"]
cluster_name           = "fargate-cluster"
container_image        = "public.ecr.aws/docker/library/httpd:latest"
container_port         = 80
log_retention_days     = 7
listener_rule_priority = 100
